* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Twitter-Chirp", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  background-color: #ffffff;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 1100px;
  height: 100vh;
  font-size: 20px;
  /* max-width: 800px; */
  /* height: 500px; */
  background-color: white;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  background-color: white;
  gap: 20px;
  height: 100vh;
  flex-basis: 200px;
  font-size: 15px;
}

.feed {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex-basis: 540px;
  border-left: 1px solid #eff3f4;
  border-right: 1px solid #eff3f4;
}

.feed-header {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  width: 100%;
  height: 106px;
  border-bottom: 1px solid #eff3f4;
}

.feed-header-home {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  width: 100%;
  height: 53px;
}

.feed-header-tabpane {
  display: flex;
  width: 100%;
  height: 53px;
}

.for-you-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  border-right: #1da1f2;
  background-color: red;
}

.btn-for-you-tab {
  align-self: stretch;
  width: 100%;
  background-color: #ffff;
  border: none;
}

.btn-for-you-tab:hover {
  background-color: #eff3f4;
  cursor: pointer;
}

.following-tab {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
}

.btn-following-tab {
  align-self: stretch;
  width: 100%;
  background-color: #ffff;
  border: none;
}

.btn-following-tab:hover {
  background-color: #eff3f4;
  cursor: pointer;
}

.feed-happening {
  display: flex;
  flex-direction: column;
  /* font-weight: 700; */
  width: 100%;
  height: 106px;
  border-bottom: 1px solid #eff3f4;
}

.happening-text {
  display: flex;
  color: #757676;
  gap: 10px;
  margin: 8px 16px;
  align-items: stretch;
  justify-items: center;
}

.whats-happening {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: larger;
}

.happening-emoji {
  display: flex;
  justify-content: flex-start;
  margin-left: 65px;
  margin-right: 16px;

  padding: 12px 0;
}

.happening-text img {
  height: 39px;
  max-width: 39px;
  border-radius: 50%;
  object-fit: cover;
}

.tweet-emojis-div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.tweet-btn-div {
  margin-left: auto;
}

.btn-happening-tweet {
  padding: 5px 15px;

  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border-radius: 20px;
  outline: none;
  text-align: center;
  color: #ffffff;
  background-color: rgba(29, 161, 242, 0.5);
  border: none;
}

.bird-logo,
.home-icon,
.explore-icon,
.bell-icon,
.messages-icon,
.twitter-blue-icon,
.profile-icon,
.more-icon,
.lists-icon,
.bookmark-icon {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
  /* justify-content: space-between; */
}

.tweet-button {
  width: 200.621px;
  height: 49.492px;
  padding: 0 32px;
  background-color: #1da1f2;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.profile-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 220.621px;
  height: 49.492px;
  padding: 0;
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  color: #000000;
  font-size: 15px;
  font-style: normal;
  font-stretch: 100%;
  cursor: pointer;
  margin-top: 50px;
}

.profile-button img {
  height: 39px;
  max-width: 39px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-box {
  background-color: #ffff;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0 8px;
}

.profile-display-name,
.profile-username {
  font-size: 12px;
}

.profile-display-name {
  font-weight: 700;
  line-height: 20px;
}

.profile-username {
  color: rgb(83, 100, 113);
}

/* .tweet-options-icon {
} */

/*EXPLORE SECTION */
.explorepage {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-left: 30px;
}

.btn-search-tweet {
  /* padding: 5px 15px; */
  padding: 10px 30px;

  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border-radius: 20px;
  outline: none;
  text-align: center;
  color: #ffffff;
  background-color: #eff3f4;
  border: none;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 300px;
  height: 40px;
  background-color: #f5f8fa;
  border-radius: 20px;
  padding-left: 12px;
  gap: 12px;
  font-size: 15px;
}

.search-bar input[type="text"] {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 5px;
  background-color: transparent;
}

.search-bar button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
}

.search-bar button i {
  font-size: 18px;
  color: #1da1f2;
}

.twitter-trend {
}
