/*USE CSS PEEPER EXTENSION TO GET ACTUAL STYLES*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Twitter-Chirp", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
}

/*STICKY NAVIGATION*/
/* Style for the sticky item */
.sticky-item {
  position: sticky;
  top: 0; /* Stick to the top of the grid container */
  height: 100px; /* Set a fixed height for the sticky item */
  /* background-color: #f0f0f0; */
}

.non-sticky-grid {
  /* The third grid will adjust its height based on its content */
  overflow-y: auto; /* Add vertical scroll if content overflows */
}

.container {
  display: grid;
  grid-template-columns: 3fr 4fr 3.5fr; /* Adjust as needed */
  /* grid-template-columns: 3fr 4fr 3.5fr; */
}

.right-sidebar {
  padding: 20px;
}

/*LEFT SIDE BAR*/
.left-sidebar {
  display: flex;
  padding-top: 10px;
  padding-left: 175px;
  padding-right: 50px;
  height: 100vh;
  /* background-color: #ff00ff; */
}

/*TWITTER NAV MENU*/
.twitter-nav {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.twitter-nav-1 {
  height: 100px;
  background-color: #0000;
}

.twitter-logo,
.twitter-sidebar-icon {
  height: 20px;
  width: 20px;
}

.twitter-logo {
  margin-bottom: 30px;
}

.twitter-sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.twitter-sidebar-menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.twitter-sidebar-text {
  display: flex;
  flex-direction: column;
  font-size: 8px;
}

/*TWITTER PROFILE SECTION*/
.twitter-sidebar-profile--nav {
  /* background-color: #1da1f2; */
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* margin-bottom: 20px; */
  border-radius: 9999px;
  padding: 10px 20px;
}

.twitter-profile--pix {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.twitter-sidebar-profile--toggle {
  width: 24px;
  height: 24px;
}

.twitter-sidebar-profile--displayName,
.twitter-sidebar-profile--username {
  font-size: 10px;
  line-height: 14px;
}

.twitter-sidebar-profile--displayName {
  /* font-size: 7px; */
  box-sizing: none;
  gap: 10px;
  font-weight: 700;
}

.twitter-sidebar-profile--username {
  color: #536471;
}

/*MAIN FEED*/
.main-content {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 2px solid #eff3f4;
}

.twitter-feed-nav {
  background-color: #1da1f2;
  border-bottom: 2px solid #eff3f4;
  opacity: 0.85;
}

.twitter-feed-nav-0 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  height: 50%;
  background-color: #ffffff;
}

.twitter-feed-nav-0-text {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  color: #0f1419;
}

.twitter-feed-nav-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  background-color: #ffffff;
}

.twitter-feed-navTab-0,
.twitter-feed-navTab-1 {
  text-align: center;
  width: 100%;
  padding: 15px;
}

.active-Tab,
.inactive-Tab {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: normal;
}

.active-Tab {
  color: #0f1419;
}

.inactive-Tab {
  color: #536471;
}

.twitter-feed-tweet {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  padding: 12px;
  width: 100%;
  background-color: #ffffff;
}

.twitter-status-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px 12px 48px;
  background-color: #ffffff;
  border-bottom: 2px solid #eff3f4;
}

.tweet-options {
  display: flex;
  gap: 10px;
}

.tweet-option-icons {
  height: 16px;
  width: 16px;
}

.twitter-tweets {
  display: grid;
  grid-template-columns: 1fr 9fr;
  background-color: #00ffff;
  border-bottom: 2px solid #eff3f4;
}

.twitter-tweets-profile--pix {
  padding: 10px;
  background-color: #ffffff;
}

.twitter-tweets-info-data {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 0;
  display: flex;
  background-color: #ffffff;
}

.twitter-tweets-info-data0 {
  display: flex;
}

.twitter-tweets-info-data1 {
  /* padding: 10px; */
  background-color: #ffffff;
}

.twitter-tweets-info-data2 {
  display: flex;
  justify-content: space-between;
  /* background-color: #00ffff; */
  padding: 12px 10px 10px 0;
}

.twitter-actual-tweet {
  color: #0f1419;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: normal;
  /* width: 70%; */
}

.tweet-action {
  display: flex;
  gap: 4px;
}

.tweet-action-icon {
  fill: #536471;
  width: 15px;
  height: 15px;
}

.tweet-action-description {
  color: #536471;
  font-size: 13px;
  line-height: 16px;
}

.tweet-btn--md {
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  padding: 7px 14px;
  border-radius: 9999px;
}

/*RIGHT SIDEBAR*/
.right-sidebar {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 5px;
  padding-left: 20px;
  /* background-color: #ffffff; */
}

.non-sticky-grid {
  flex: 1; /* Allow the third grid to grow and take available space */
  max-height: calc(
    100vh - 100px
  ); /* Calculate the maximum height, considering the sticky item's height */
  overflow-y: auto; /* Add vertical scroll if content overflows */
}

/* SEARCH BAR BOX */
.twitter-searchBar {
  display: flex;
  gap: 15px;
  align-items: center;
  background-color: #eff3f4;
  padding: 12px 12px;
  max-width: 300px;
  border-radius: 9999px;
}

.twitter-searchBar-text {
  font-size: 15px;
  color: #536471;
}

/* VERIFICATION BOX */
.twitter-verification-cta {
  background-color: #eff3f4;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 6px;
  padding: 10px 15px;
  max-width: 300px;
  border-radius: 14px;
}

.twitter-verification-cta-title {
  color: #0f1419;
  font-weight: 700;
  font-size: 18px;
}

.twitter-verification-cta-text {
  color: #0f1419;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

.twitter-verification-cta-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  cursor: pointer;
  background-color: #0f1419;
  font-weight: 500;
  padding: 8px;
  max-width: 100px;
  border-radius: 9999px;
  border: none;
}

/* TRENDING BOX */
.twitter-trending-box {
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  padding: 10px 15px 5px 15px;
  background-color: #eff3f4;
  max-width: 300px;
}

.twitter-trend-topic {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.twitter-trend-header,
.twitter-trend-topic {
  padding: 12px 0;
}
.twitter-trend-header {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
}

.twitter-trend-subTopic {
  color: #536471;
  font-size: 13px;
  line-height: 16px;
}

.twitter-trend-actualTopic {
  color: #0f1419;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

.twitter-trend-count {
  color: #536471;
  font-size: 13px;
  line-height: 16px;
}

/* WHO TO FOLLOW BOX */
.twitter-WhoToFollow-box {
  border-radius: 11px;
  padding: 10px 15px;
  padding-right: 8px;
  max-width: 300px;
  background-color: #eff3f4;
}

.twitter-WhoToFollow-accounts {
  display: flex;
  align-items: center;

  /* background-color: #536471; */
}

.twitter-WhoToFollow-metaData {
  display: flex;
  gap: 5px;
  padding: 10px 0;
}

.twitter-WhoToFollow-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: normal;
  color: #0f1419;
  padding-bottom: 5px;
  /* background-color: #00ffff; */
}

.twitter-WhoToFollow-followBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f1419;
  color: #ffffff;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 10px;
  margin-left: auto;
  border-radius: 9999px;
  max-height: 38px;
}

.twitter-WhoToFollow-showMore {
  color: #1d9bf0;
  padding: 10px 0;
  font-size: 15px;
  font-weight: 500;
  /* background-color: #536471; */
}

.twitter-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color: #536471;
  padding: 5px;
  /* background-color: blueviolet; */

  /* line-height: 16px; */
  max-width: 300px;
  column-gap: 10px;
}

.twitter-footer > span {
  font-size: 13px;
}

.twitter-WhoToFollow-accountDesc {
  font-size: 15px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.twitter-WhoToFollow-dName {
  font-weight: 500;
}

.twitter-WhoToFollow-displayName {
  display: flex;
  align-items: center;
  justify-content: center;
}

.twitter-WhoToFollow-username {
  /* font-family: "Times New Roman"; */
  color: #536471;
}

/*RESUSABLE COMPONENTS*/
.tweet-btn--xl {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 64px;
  background-color: #1da1f2;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;

  /*HELPER*/
}

.twitter-toggle-icon {
  height: 16px;
  width: 16px;
}

.active-color {
  fill: #1d9bf0;
}

.inactive-color {
  fill: rgba(29, 155, 240, 0.5);
}

.inactive-component {
  /* Original color */
  background-color: #1d9bf0;
  /* Lightened color with 50% opacity */
  background-color: rgba(29, 155, 240, 0.5);
}

.all-profile-pix {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* .verified-checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  fill: #1d9bf0;
  line-height: 24px;
  margin-left: 2px;
  width: 16px;
  height: 16px;
} */

.verified-checkmark {
  margin-left: 2px;
  margin-top: 2px;
  width: 16px;
  height: 16px;
}

.twitter-tweets-displayName,
.twitter-tweets-username,
.twitter-tweets-period,
.twitter-tweets-dateOrHour {
  align-self: flex-start;
}

.twitter-tweets-displayName {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #0f1419;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: normal;
  text-align: start;
}

.twitter-tweets-username,
.twitter-tweets-dateOrHour,
.twitter-tweets-period {
  color: #536471;
}

.twitter-tweets-displayName,
.twitter-tweets-username,
.twitter-tweets-period {
  margin-right: 4px;
}

.twitter-tweets-toggle {
  margin-left: auto;
}

/*LOGIC TO IMPLEMENT RIGHT HAND FEED*/
/* padding-top -> 5px
padding-left -> 15px */

/*IMPLEMENT FLEX CONTAINER FOR */
/* SEARCH BAR
GET VERIFIED
TRENDING BOX
WHO TO FOLLOW BOX 
PAGE FOOTER */
/*THEN ADD A GAP*/

/*IMPLEMENTING THE SEARCH BAR*/
/* => padding-left and padding-right -> 50px
=> padding-top and padding-bottom -> 10px
=> display parent container as flex
=> add search svg icon and give it a class
=> wrap "Search twitter" text into a span element
=> add a gap of 10px between the search svg icon 
and the search twitter text  */

/*IMPLEMENTING GET VERIFIED BOX*/
/* => padding -> 10px
=> display -> flex
=> flex-direction -> column
=> align items -> space-between */

/*IMPLEMENTING TRENDING BOX*/
/* => padding -> 10px
=> display -> flex
=> div for [Trends for you] => twitter-trend-header
=> div for [Trends topic] => twitter-trend-topic
   sub divs => display as grid 
1st grid content
   display as flex then add equal gap
   1.Trending sub-topic e.g. Technology • Trending
   2.Topic actual-topic e.g. React JS
   3.Tweet count e.g. 57.9k Tweets
2nd grid content
   margin-left auto    */

/*IMPLEMENTING WHO TO FOLLOW BOX*/
/* => padding -> 10px
=> display -> flex
=> three (3) flex items
  1st flex item => who to follow
  2nd flex item => display flex
     1st flex item => profile picture
     2nd flex item => display name and username with column flex direction
     3rd flex item => follow button
   3rd flex item => show more  */

/*IMPLEMENTING FOOTER*/
/* => define parent container
=> padding top and bottom should be 0
=> padding left and right should be 10px
=> display parent container as flex
=> define a line height of 15px for the fonts */
